In [1]:
import pandas as pd

In [6]:
data = {'id':['Jack','Sarah','Mike'],
       'age':[18,35,20],
       'cash':[10.53,500.7,13.6]}
df = pd.DataFrame(data)

In [8]:
print(df)

   age    cash     id
0   18   10.53   Jack
1   35  500.70  Sarah
2   20   13.60   Mike

In [9]:
df2 = pd.DataFrame(data,columns=['id','age','cash'],index=['one','two','three'])

In [10]:
print(df2)

          id  age    cash
one     Jack   18   10.53
two    Sarah   35  500.70
three   Mike   20   13.60

In [11]:
print(df2['id'])

one       Jack
two      Sarah
three     Mike
Name: id, dtype: object

In [13]:
s = pd.Series({'a':4,'b':9,'c':16},name='number')
print(s)

a     4
b     9
c    16
Name: number, dtype: int64

In [14]:
print(s)

a     4
b     9
c    16
Name: number, dtype: int64

In [15]:
print(s[0])

4

In [16]:
print(s[:3])

a     4
b     9
c    16
Name: number, dtype: int64

In [17]:
print(s['a'])

4

In [18]:
import numpy as np

In [19]:
print(np.sqrt(s))

a    2.0
b    3.0
c    4.0
Name: number, dtype: float64

In [20]:
print(s*s)

a     16
b     81
c    256
Name: number, dtype: int64

In [21]:
print(df['id'])

0     Jack
1    Sarah
2     Mike
Name: id, dtype: object

In [35]:
df['rich'] = df['cash'] > 200.0

In [36]:
print(df)

   age    cash     id   rach   rich
0   18   10.53   Jack  False  False
1   35  500.70  Sarah   True   True
2   20   13.60   Mike  False  False

In [37]:
del df['rich']

In [38]:
print(df)

   age    cash     id   rach
0   18   10.53   Jack  False
1   35  500.70  Sarah   True
2   20   13.60   Mike  False

In [39]:
del df['rach']

In [40]:
print(df)

   age    cash     id
0   18   10.53   Jack
1   35  500.70  Sarah
2   20   13.60   Mike

In [41]:
df = pd.DataFrame([  
            ['green', 'M', 10.1, 'class1'],   
            ['red', 'L', 13.5, 'class2'],   
            ['blue', 'XL', 15.3, 'class1']]) 
pd.get_dummies(df)

      2  0_blue  0_green  0_red  1_L  1_M  1_XL  3_class1  3_class2
0  10.1       0        1      0    0    1     0         1         0
1  13.5       0        0      1    1    0     0         0         1
2  15.3       1        0      0    0    0     1         1         0